<div class="well">
	<h2 class="no-margin-top">Approbation By Rabbi Elimelech Silberberg</h2>
	<h5>Rabbi Silberberg is a Member of the Presidium of the Vaad HaRabonim of Detroit and The Bais Din for Garus of Detroit, a shliach of the Lubavitcher Rebbe to West Bloomfield and author of Seforim on Halacha</h5>
	<hr />
	<p>
		I feel privileged to introduce to the public the classes of my chavrusa of the last twenty five  years, Reb Mordechai Shimon (Marty) Goodman.
<br><br>
		Mordechai Shimon is not only an expert in the area of Drush, the homiletical component of Torah; his wide-ranging knowledge of Talmud, Shulchan Aruch, Chassidus and Mussar all come together to produce classes which will fascinate and enlighten people at all levels of Torah knowledge.
		Mordechai Shimon's classes are legendary in Sara Tugman Bais Chabad Torah Center. His new website will give an international audience access to the teachings of a master teacher.
	</p>

</div>