<form role="form">
	<div class="form-group" >
		<span class="btn btn-default btn-file">
			Upload File
			<input type="file" ng-file-select="onFileSelect($files)">
		</span>	
		<span>{{activeFile.filename}}</span>
	</div>
	<div class="progress progress-striped active" ng-show="uploadProgressDisplay">
		<div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{uploadProgressDisplay}}%">
			<span class="sr-only">45% Complete</span>
		</div>
	</div>	
	<div class="form-group">
		<label for="titleInput">Title</label>
		<input type="text" id="titleInput" class="form-control" ng-model="activeFile.title"/>
	</div>
	<div class="form-group">
		<label for="categoryInput">Category</label>
		<select  ui-select2 ng-model="activeFile.category" 
		style="width:100%" >
		 <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
	</select>
</div>
<div class="form-group">
	<label for="subcategoryInput">Subcategory</label>
	<select ui-select2 ng-model="activeFile.subcategory"
	style="width:100%">
	 <option ng-repeat="subcategory in subcategories[activeFile.category]" value="{{subcategory}}">{{subcategory}}</option>
</select>
</div>
<div class="form-group">
	<label for="descriptionInput">Description</label>
	<textarea id="descriptionInput" class="form-control" ng-model="activeFile.description" style="height:150px"></textarea>			
</div>
<div class="form-group">
	<label for="displayOrderInput">Display Order</label>
	<input type="text" id="displayOrderInput" class="form-control" ng-model="activeFile.display_order" />
</div>
<input type="submit" value="Save" class="btn btn-default" ng-click="submit()" />
<button value="Delete" class="btn btn-danger" ng-click="deleteFile()">Delete</button>
</form>