<div class="row well">
	<div class="col-md-12">
		<div class="col-md-4">
			<img src="app/img/Marty_Goodman.jpg"/>
		</div>
		<div class="col-md-8">
			<h1 class="no-margin-top" >Welcome To Bais Mordechai</h1>
			<p>
				The hope of this site is to be educational and inspirational.  I see the Torah as an instruction manual given to us by a
				benevolent father in heaven to help us navigate our lives, with
				stories and examples for us to learn from.<br> <b>BIBLE</b>
				= <b>B</b>ook of <b>I</b>nstruction <b>B</b>y which to <b>L</b>ive
				on <b>E</b>arth<br> 
				<b>FROG</b> = <b>F</b>orever <b>R</b>ely <b>O</b>n
				<b>G</b>-d<br>Frogs only jump forward not backward.
				So too must we continue to move forward in our quest for
				spirituality and contentment.
			</p>
			<a ui-sref="page.subpage({page:'about', subpage:'bio'})" class="btn btn-primary">
				Read more »</a>
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 no-gutter">
			<div class="well hero-unit">
				<h2 class="no-margin-top"><a ui-sref="subcategory({category:'shiurim', subcategory:'{{currentParashah | tolower}}' })">Current Parashah</a></h2>
				<p>See all of Marty's classes on the current weekly parashah</p>

			</div>
		</div>
		<div class="col-md-4">
			<div class="well hero-unit">
				<h2 class="no-margin-top">What's New</h2>
				<ul>
					<li ng-repeat="new in whatsNew">
						<a ui-sref='subcategory.item({category:new.category, subcategory:new.subcategory , id: new.title})'>
							{{new.title}} ( {{new.created_at | timeago}} )
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 no-gutter">
			<div class="well hero-unit">
				<h2 class="no-margin-top"><a href="#/page/contact">Contact</a></h2>
				<p>Send Marty a message directly with any questions or comments.</p>
			</div>
		</div>
	</div>
