<div class="row well">
	<div class="col-md-12">
		<div class="col-md-4">
			<img src="app/img/Marty_Goodman.jpg"/>
		</div>
		<div class="col-md-8">
			<h1 class="no-margin-top" >Welcome To Bais Mordechai</h1>
			<p>
				The hope of this site is to be educational and inspirational.  I see the Torah as an instruction manual given to us by a
				benevolent father in heaven to help us navigate our lives, with
				stories and examples for us to learn from.<br> <b>BIBLE</b>
				= <b>B</b>ook of <b>I</b>nstruction <b>B</b>y which to <b>L</b>ive
				on <b>E</b>arth<br> 
				<b>FROG</b> = <b>F</b>orever <b>R</b>ely <b>O</b>n
				<b>G</b>-d<br>Frogs only jump forward not backward.
				So too must we continue to move forward in our quest for
				spirituality and contentment.
			</p>
			<a href="#/page/about" class="btn btn-primary">
				Read more »</a>
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 no-gutter">
			<div class="well">
				<h2><a href="#/">Current Parashah</a></h2>
				<p>See all of Marty's classes on the current weekly parashah</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well">
				<h2><a href="#/">What's New</a></h2>
				<p>See the most recent content including classes on the parashah, leading services and original music</p>
			</div>
		</div>
		<div class="col-md-4 no-gutter">
			<div class="well">
				<h2><a href="#/page/contact">Contact</a></h2>
				<p>Send Marty a message directly with any questions or comments.</p>
			</div>
		</div>
	</div>
