<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a href="#shiurim">Shiurim</a></li>
	<li class="active">{{file.title}}</li>
</ol>
<div class="col-md-4">
	<div class="list-group"  >
		<a href="" class="list-group-item" ng-class="{active: isActive(file)}" 
		ng-repeat="file in files | filter:search |orderBy:'title'"
		ng-click="selectFile(file)">
		{{ file.title }}
	</a>
</div>
</div>
<div class="col-md-8">
	<h1>{{file.title}}</h1>
	<jplayer src="{{file.filename}}" title="{{file.title}}"></jplayer>
	<p>{{file.description}}</p>
</div>