<div class="row">
	<div class="col-md-4">
		<h2 class="no-margin-top">Bereishit</h2>
		<ul>
			<li><a ui-sref="listen.category.subcategory({subcategory:'bereishit'})" >Bereishit</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'noach'})" >Noach</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'lech_lecha'})" >Lech Lecha</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'vayeira'})" >Vayeira</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'chayei_sarah'})" >Chayei Sarah</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'toldot'})" >Toldot</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'vayeitzei'})" >Vayeitzei</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'vayishlach'})" >Vayishlach</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'vayeishev'})" >Vayeishev</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'mikeitz'})" >Mikeitz</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'vayigash'})" >Vayigash</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'vayechi'})" >Vayechi</a></li>
		</ul>
	</div>
	<div class="col-md-4">
		<h2 class="no-margin-top">Shemos</h2>

		<ul>
			<li><a ui-sref="listen.category.subcategory({subcategory:'shemot'})" >Shemot</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'va\'eira'})" >Va'eira</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'bo'})" >Bo</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'beshalach'})" >Beshalach</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'yitro'})" >Yitro</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'mishpatim'})" >Mishpatim</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'terumah'})" >Terumah</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'tetzaveh'})" >Tetzaveh</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'ki_tisa'})" >Ki Tisa</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'vayakhel'})" >Vayakhel</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'pekudei'})" >Pekudei</a></li>
		</ul>
	</div>
	<div class="col-md-4">
		<h2 class="no-margin-top">Vayikra</h2>
		<ul>
			<li><a ui-sref="listen.category.subcategory({subcategory:'vayikra'})" >Vayikra</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'tzav'})" >Tzav</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'shemini'})" >Shemini</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'tazria'})" >Tazria</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'metzora'})" >Metzora</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'acharei'})" >Acharei</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'kedoshim'})" >Kedoshim</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'emor'})" >Emor</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'behar'})" >Behar</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'bechukotai'})" >Bechukotai</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h2 class="no-margin-top">Bamidbar</h2>
		<ul>
			<li><a ui-sref="listen.category.subcategory({subcategory:'bamidbar'})" >Bamidbar</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'naso'})" >Naso</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'behaalotecha'})" >Behaalotecha</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'shelach'})" >Shelach</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'korach'})" >Korach</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'chukat'})" >Chukat</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'balak'})" >Balak</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'pinchas'})" >Pinchas</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'matot'})" >Matot</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'massei'})" >Massei</a></li>
		</ul>
	</div>
	<div class="col-md-4">
		<h2 class="no-margin-top">Devarim</h2>
		<ul>
			<li><a ui-sref="listen.category.subcategory({subcategory:'devarim'})" >Devarim</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'va\'etchanan'})" >Va'etchanan</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'eikev'})" >Eikev</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'re\'eh'})" >Re'eh</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'shoftim'})" >Shoftim</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'ki_teitzei'})" >Ki Teitzei</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'ki_tavo'})" >Ki Tavo</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'nitzavim'})" >Nitzavim</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'vayelech'})" >Vayelech</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'haazinu'})" >Haazinu</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'v\'zot_haberachah'})" >V'Zot HaBerachah</a></li>
		</ul>
	</div>
	<div class="col-md-4">
		<h2 class="no-margin-top">Other Shiurim</h2>
		<ul>
			<li><a ui-sref="listen.category.subcategory({subcategory:'davening'})" >Davening</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'tehillim'})" >Tehillim</a></li>
			<li><a ui-sref="listen.category.subcategory({subcategory:'laws_of_brochos'})" >Laws of Brochos</a></li>
		</ul>
	</div>
</div>

<div ui-view="main-content"></div>

