<div class="row">
	<div class="col-md-4">
		<h2 class="no-margin-top">Bereishit</h2>
		<ul>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'bereishit'})" >Bereishit</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'noach'})" >Noach</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'lech_lecha'})" >Lech Lecha</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'vayeira'})" >Vayeira</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'chayei_sarah'})" >Chayei Sarah</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'toldot'})" >Toldot</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'vayeitzei'})" >Vayeitzei</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'vayishlach'})" >Vayishlach</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'vayeishev'})" >Vayeishev</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'mikeitz'})" >Mikeitz</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'vayigash'})" >Vayigash</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'vayechi'})" >Vayechi</a></li>
		</ul>
	</div>
	<div class="col-md-4">
		<h2 class="no-margin-top">Shemos</h2>

		<ul>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'shemot'})" >Shemot</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'va\'eira'})" >Va'eira</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'bo'})" >Bo</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'beshalach'})" >Beshalach</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'yitro'})" >Yitro</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'mishpatim'})" >Mishpatim</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'terumah'})" >Terumah</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'tetzaveh'})" >Tetzaveh</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'ki_tisa'})" >Ki Tisa</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'vayakhel'})" >Vayakhel</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'pekudei'})" >Pekudei</a></li>
		</ul>
	</div>
	<div class="col-md-4">
		<h2 class="no-margin-top">Vayikra</h2>
		<ul>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'vayikra'})" >Vayikra</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'tzav'})" >Tzav</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'shemini'})" >Shemini</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'tazria'})" >Tazria</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'metzora'})" >Metzora</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'acharei'})" >Acharei</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'kedoshim'})" >Kedoshim</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'emor'})" >Emor</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'behar'})" >Behar</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'bechukotai'})" >Bechukotai</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h2 class="no-margin-top">Bamidbar</h2>
		<ul>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'bamidbar'})" >Bamidbar</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'naso'})" >Naso</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'behaalotecha'})" >Behaalotecha</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'shelach'})" >Shelach</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'korach'})" >Korach</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'chukat'})" >Chukat</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'balak'})" >Balak</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'pinchas'})" >Pinchas</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'matot'})" >Matot</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'massei'})" >Massei</a></li>
		</ul>
	</div>
	<div class="col-md-4">
		<h2 class="no-margin-top">Devarim</h2>
		<ul>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'devarim'})" >Devarim</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'va\'etchanan'})" >Va'etchanan</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'eikev'})" >Eikev</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'re\'eh'})" >Re'eh</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'shoftim'})" >Shoftim</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'ki_teitzei'})" >Ki Teitzei</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'ki_tavo'})" >Ki Tavo</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'nitzavim'})" >Nitzavim</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'vayelech'})" >Vayelech</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'haazinu'})" >Haazinu</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'v\'zot_haberachah'})" >V'Zot HaBerachah</a></li>
		</ul>
	</div>
	<div class="col-md-4">
		<h2 class="no-margin-top">Other Shiurim</h2>
		<ul>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'davening'})" >Davening</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'tehillim'})" >Tehillim</a></li>
			<li><a ui-sref="subcategory({category:'shiurim', subcategory:'laws_of_brochos'})" >Laws of Brochos</a></li>
		</ul>
	</div>
</div>

<div ui-view="main-content"></div>

